*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #C5DAFF;
}

header{
    background-color: #2B449D;
    display: flex;
    align-items: center;
    padding: 15px;
}

header h2{
    width: 70px;
    padding: 0px 10px;
    color: white;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}


header nav ul li a{
    text-decoration: none;
    color: white;
}

header input{
    border-radius: 5px;
    padding: 3px;
    margin-left: 15px;
    background-color: #9cb4dd;
    border: 0 solid;
}

header input::placeholder{
    color: white;
}

#trocar{
    width: 30px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
}

main{
    align-items: center;
    justify-content: center;
}

main h1{
    margin-top: 30px;
    text-align: center;
    color: rgb(0, 0, 71)
}

main h2{
    text-align: center;
    margin: 10px 0px;
    color: rgb(0, 0, 71)
}

.atracoes{
    display: flex;
    justify-content: center;
}

.artista{
    margin: 5px;
}

.artista img{
    border-radius: 20px;
    width: 200px;
}

.artista p{
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 71)
}

footer{
    background-color: #2B449D;
    display: flex;
    text-align: left;
    margin-top: 20px;
    align-items: center;
    padding: 15px;
}

footer h2{
    width: 70px;
    padding: 0px 10px;
    color: white;
}

footer ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 20px;
}

footer ul li{
    text-decoration: none;
    color: white;
}